@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

:root { 

    --cor0: #c5ebd6;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#063d1e;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;
    background-image: linear-gradient(to top, var(--cor5)30%, var(--cor3)) ;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--font-destaque);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.375);
    font-weight: normal;
}

header p {
    max-width: 500px;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.375);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.441);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img {
    width: 100%;
    
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.2em;
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to left, var(--cor2), transparent);
    padding: 2px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor3);
    font-weight: bolder;
}

main a {
    background-color: var(--cor2);
    text-decoration: none;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}

iframe {
    display: block;
    margin: auto;
}



